:root {
  --brand: #0d6efd;
}

body {
  background-image: url("https://i.pinimg.com/1200x/1c/04/a6/1c04a60d934b7c61ad214c33627d0f1f.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.bg-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2px); 
  background: linear-gradient(
    rgba(36, 83, 237, 0.909),
    rgba(80, 9, 180, 0.822)
  );
  z-index: -1;
}

.forgot-password-card {
    width: 150%;
    max-width: 500px;
    border: 0;
    border-radius: 1rem;
    overflow: hidden;
    background: transparent;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.852); 
    margin-top: 1rem;
    background: rgba(161, 224, 239, 0.427); 
    position: absolute;
}

.brand-logo {
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-right: 8px;
}

.back {
  color: #000;              
  font-weight: 500;
  transition: color 0.2s ease;
}

.back{
  color: #333;              
} 

.btn-primary {
  background: linear-gradient(135deg, #0028a0, #50bcff);
  border: none;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}
.btn-primary:hover { filter: brightness(1.05); }

@media (min-width: 768px) {
  .forgot-password-card { max-width: 420px; }
}
